// Body
$body-bg: #001F3F;
$body-color: white;

// Form Controls
$input-bg: white;
$input-color: black;
$input-border-radius: 50rem;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;